<div>

  <a href="/links_by_lang/python">python</a>
  <a href="/links_by_lang">javascript</a>
  <a href="/links_by_lang">ruby</a>
  <a href="/links_by_lang">html</a>
  <a href="/links_by_lang">css</a>


</div>