.navbar {
	float: right;
	margin-top: 20px;
}
	#logo {
		float:left;
		position:absolute;
}

div .header {
	position: relative;
	padding-bottom: 40px;
}

div .login {
	text-align: center;
	width: 100%;
}
	h2 {
		font-size: 2em;
		font-weight: bold;
		text-align: center;
}

div .signup {
	text-align: center;
	width: 100%;
}	
	h2 {
		font-size: 2em;
		font-weight: bold;
		text-align: center;
}

input {
	border-radius: 3px;
}

.row {
	background-color:#a1d6bd;
	width:100%;
	padding: 20px;
}

.container {
	padding:0;
	margin-left: 10%;
	margin-right: 10%;

}



/*.btn {
	width: 100%;
}*/

